// app global css in SCSS form
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
$common-font-size: 1.5rem;
$mobile-font-size: 20px;

body {
    font-family: 'Noto Sans TC', sans-serif;
}

h5 {
    margin-block-start: 0px;
}

.q-table th {
    @media (max-width: $breakpoint-xs-max)
    {
        font-size: $mobile-font-size;
    }
    font-size: $common-font-size;
    font-weight: bold;
}

.q-table tbody td {
    @media (max-width: $breakpoint-xs-max)
    {
        font-size: $mobile-font-size;
    }
    font-size: $common-font-size;
}

.q-item__label {
    @media (max-width: $breakpoint-xs-max)
    {
        font-size: $mobile-font-size;
    }
    font-size: $common-font-size;
}

.q-toolbar__title {
    @media (max-width: $breakpoint-xs-max)
    {
        font-size: $mobile-font-size;
    }
    font-size: $common-font-size;
}

.q-btn {
    font-size: 1.1rem;
}

.q-field {
    @media (max-width: $breakpoint-xs-max)
    {
        font-size: $mobile-font-size;
    }
    font-size: $common-font-size;
}

.q-pa-lg {
    padding: 24px 24px;
}

// 限制table th td寬度
.q-table thead th {
    width: 50px;
    white-space: normal;
}

.q-table tbody td {
    width: 50px;
    white-space: normal;
}

// 因字體調大，原為18px左上Label會太接近主體文字，調整為14px
.q-field__label {
    top: 14px;
}

// 上方工具列
.tool-bar {
    padding-top: 1rem;
    .q-field {
        margin-left: 1rem
    }
}

// 通知訊息
.q-notification__message {
    font-size: $common-font-size;
}

.title {
    font-size: 2rem;
    padding: 1rem;
}

// 避免驗證欄位影響到欄位高度，移除原padding-bottom 20px設定
.q-field--with-bottom {
    padding-bottom: 0px;
}

// 隱藏附加錯誤訊息
.q-field__bottom {
    display: none;
}

// 字體放大後預設的18px會造成文字重疊，故調整為normal
.q-field__native, .q-field__prefix, .q-field__suffix {
    line-height: normal !important;
}

// 確認視窗字體
.q-card__section p {
    font-size: $common-font-size !important;
}